# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# System
.DS_Store
.AppleDouble
.LSOverride

# Project specific
thumbnails/
config.json
*.log
server.log

# IDE
.vscode/
.idea/

# Agent
.gemini/

# Data
data/libretro-db/dat/*.dat
plcn.db
